﻿@using Opdracht4.Models
@model IssueModel
<tr class="Issue" data-pid="@Model.Id">
    <td name="id">@Model.Title</td>
    <td name="Assignee">@Model.Assignee</td>
    <td name="Message">@Model.Message</td>
    <td name="Completed">@Model.Completed</td>
    <td name="TimeMade">@Model.TimeMade</td>
    <td name="Edit"><i class="fas fa-edit" style="cursor:pointer"></i></td>
    <td name="Delete"><i class="fas fa-trash-alt" style="cursor:pointer"></i></td>
</tr>