﻿@{
    ViewData["Title"] = "Home Page";
}
@section Styles{
    <link rel="stylesheet" href="~/css/index.css" /> 
}
@section Scripts{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/gauge_chart/loader.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/js/index.js"></script>
}
<div class="container">
    <div class="row">
        <div class="col-lg-10">
            <div>
                <div class="chat_window">
                    <div class="top_menu">
                        <input class="userName_input" placeholder="User..." />
                        <div class="title">Chat</div>
                    </div>
                    <ul class="messages"></ul>
                    <div class="bottom_wrapper clearfix">
                        <div class="message_input_wrapper">
                            <input class="message_input" placeholder="Type your message here..." />
                        </div>
                        <div class="send_message">
                            <div class="icon"></div>
                            <div class="text">Send</div>
                        </div>
                    </div>
                </div>
                <div class="message_template">
                    <li class="message">
                        <div class="avatar"></div>
                        <div class="text_wrapper">
                            <div class="text"></div>
                            <div class="user"></div>
                        </div>
                    </li>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div id="chart_div" style="margin-top:50px"></div>
        </div>
    </div>
</div>
