﻿@{
    ViewData["Title"] = "ShowIssues";
}
@section Styles{
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css">
}
@section Scripts{
    <script src="~/js/IssuesList.js"></script>
}
@model IEnumerable<IssueModel>
<h2>Issue list</h2>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Assignee</th>
                <th scope="col">Message</th>
                <th scope="col">Completed</th>
                <th scope="col">Timestamp</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (IssueModel i in Model)
            {
                await Html.RenderPartialAsync("_PartialViewIssues", new IssueModel { Id = i.Id, Title = i.Title, Assignee = i.Assignee, Message = i.Message, Completed = i.Completed, TimeMade = i.TimeMade });
            }
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete the issue</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete it?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button id="yesButton" type="button" class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>